/.phpunit.cache
/node_modules
/public/build
/public/assets
/public/css
/public/dist
/public/fonts
/public/js
/public/libs
/public/scss
/public/tasks
/public/hot
/public/storage
/tasks
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
